<h1 class="headline">Log in</h1>

<div class="container">
  <div class="innerContainer">
    <div class="loginContainer">
      <%= form_for(:session, url: login_path) do |f| %>
        <div class="loginForm">
          <%= f.label :email, id: "email" %>
          <%= f.text_field :email, placeholder: "enter email", class: "field", id: "emailField" %><br>

          <%= f.label :password, id: "password" %>
          <%= f.password_field :password, placeholder: "enter password", class: "field", id: "passwordField" %><br>
        </div>
        <%= button_tag "Submit", class: "submit" %>
      <% end %>
    </div>
  </div>
</div>
