
<h1 class="headline">News</h1>

<div class="innerContainer"></div>

<div class="container">
  <div class="postContainer">
    <% @posts.each do |post| %>
      <div class="post">
        <div class="postTitle"><%= link_to "#{post.title}", post_path(post.id) %></div>
        <div class="postAbsoluteTop postAuthor">Author: </div>
        <div class="postAbsoluteTop authorName"><%=post.user.username%></div>
        <div class="postDescription"><%=post.description%></div>
        <div class="postAbsoluteBottom commentCount"><%=post.comments.count%></div>
        <div class="postAbsoluteBottom postComment"> Comments</div>
        <div class="postAbsoluteBottom addComment"><%= link_to 'add a comment', new_comment_path %></div>
      </div>
    <% end %>
    <div class="newPost">
      <p class="postTitle">Add a New Post</p>
      <%= form_for(@post) do |f| %>
        <div class="formContainer">
          <div class="formEntryContainer">
            <%= f.label :title, class: "title" %>
            <%= f.text_field :title, placeholder: "enter title", id: "title" %><br>
          </div>
          <div class="formEntryContainer">
            <%= f.label :description, class: "description" %>
            <%= f.text_area :description, placeholder: "enter description", id: "description" %>
          </div>
        </div>
        <%= button_tag "Submit", class: "submit" %>
      <% end %>
    </div>
  </div>
</div>
