
<h1 class="headline">News</h1>

<div class="innerContainer"></div>

<div class="container">
  <div class="postContainer">
    <% @posts.each do |post| %>
      <div class="post">
        <p class="postTitle"><%=post.title%></p>
        <p class="postAuthor">Author: </p><p class="authorName"><%=post.user.username%></p>
        <p class="postDescription"><%=post.description%></p>
        <p class="comment"><%= link_to 'add a comment', new_comment_path %></p>
      </div>
    <% end %>
    <div class="post">
      <p class="postTitle">Add a New Post</p>
      <%= form_for(@post) do |f| %>
        <div class="formContainer">
          <div class="formEntryContainer">
            <%= f.label :title, class: "title" %>
            <%= f.text_field :title, placeholder: "enter title", id: "title" %><br>
          </div>
          <div class="formEntryContainer">
            <%= f.label :description, class: "description" %>
            <%= f.text_area :description, placeholder: "enter description", id: "description" %>
          </div>
        </div>
        <%= button_tag "Submit", class: "submit" %>
      <% end %>
    </div>
  </div>
</div>
