
<h1 class="headline"><%= @post.title %></h1>

<div class="innerContainer"></div>

<div class="post showPost">
  <div class="postAbsoluteTop postAuthor">Author: </div>
  <div class="postAbsoluteTop authorName"><%=@post.user.username%></div>
  <% if @post.image.exists? %>
   <div class="postImage"><%=image_tag @post.image.url(:large)%></div>
  <% end %>
  <div class="postDescription"><%=@post.description%></div>
</div>

<div class="showComments">

  <% @post.comments.each do |comment| %>
    <div class="displayComment">
      <div class="postAbsoluteTop postAuthor">Author: </div>
      <div class="postAbsoluteTop authorName"><%=comment.name%></div>
      <%=comment.text%>
    </div>
  <% end %>

  <div class="displayComment newComment">

    <%= form_for([@post, @post.comments.build]) do |f| %>
      <div class="formContainerComment">
        <div class="formEntryContainer">
          <%= f.label :name, class: "name" %>
          <%= f.text_field :name, placeholder: "enter your name", id: "name" %><br>
        </div>

        <div class="formEntryContainer">
          <%= f.label :text, class: "text" %>
          <%= f.text_area :text, placeholder: "add a comment", id: "text" %>
        </div>
      </div>
      <%= button_tag "Submit", class: "submit" %>
    <% end %>

  </div>
</div>
